@{
    ViewData["Title"] = "Connexion";
}

<div class="text-center">
    <h1 class="display-4">Connexion</h1>
</div>

<hr />

<div class="col-5 m-auto justify-content-around">
    <form>
        <div class="form-group">
            <label for="exampleInputEmail1">Identifiant</label>
            <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
        </div>
        <div class="form-group">
            <label for="exampleInputPassword1">Mot de passe</label>
            <input type="password" class="form-control" id="exampleInputPassword1">
        </div>
        <div class="form-group form-check">
            <input type="checkbox" class="form-check-input" id="exampleCheck1">
            <label class="form-check-label" for="exampleCheck1">Rester connecter</label>
        </div>
        <div class="form-row ml-auto">
            <button type="submit" class="btn btn-primary ml-auto">Connexion</button>
        </div>
    </form>
</div>
