@{
    ViewData["Title"] = "Accueil";
}

<div class="text-center">
    @if (User.Claims.FirstOrDefault() == null)
    {
        <h1 class="display-4">Bienvenue !</h1>
    }
    else
    {
        <h1 class="display-4">Bonjour @User.Claims.Single(u => u.Type == "name").Value !</h1>
    }
    <p>Vous allez bien ?</p>
</div>

<hr/>

<div>

</div>