@model QuestionReaction.Services.Models.UserAddPollsVM
@{
    ViewData["Title"] = "Création sondages";
}

<div class="text-center">
    <h1 class="display-4.5">Création sondages</h1>
</div>

<hr />

<div class="col-6 m-auto justify-content-around">
    <form asp-action="AddPolls" method="post">
        <input type="hidden" name="currentUserId" id="currentUserId" value="@Model.CurrentUserId" />
        <div class="form-group">
            <label asp-for="Title" class="col-form-label col-form-label-lg"></label>
            <input asp-for="Title" class="form-control form-control-lg">
            <span asp-validation-for="Title" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Description" class="col-form-label col-form-label-lg"></label>
            <textarea asp-for="Description" class="form-control form-control-lg" rows="3"></textarea>
            <span asp-validation-for="Description" class="text-danger"></span>
        </div>
        <div class="form-group form-check form-row">
            <input asp-for="MutipleChoices" type="checkbox" class="form-check-input">
            <label asp-for="MutipleChoices" class="form-check-label col-form-label-lg"></label>
        </div>
        <div>
            <label class="col-form-label col-form-label-lg">Liste de choix</label>
            <div class="form-group">
                <label asp-for="Choice1" class="col-form-label col-form-label-lg"></label>
                <input asp-for="Choice1" class="form-control form-control-lg">
                <span asp-validation-for="Choice1" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Choice2" class="col-form-label col-form-label-lg"></label>
                <input asp-for="Choice2" class="form-control form-control-lg">
                <span asp-validation-for="Choice2" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Choice3" class="col-form-label col-form-label-lg"></label>
                <input asp-for="Choice3" class="form-control form-control-lg">
                <span asp-validation-for="Choice3" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Choice4" class="col-form-label col-form-label-lg"></label>
                <input asp-for="Choice4" class="form-control form-control-lg">
                <span asp-validation-for="Choice4" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Choice5" class="col-form-label col-form-label-lg"></label>
                <input asp-for="Choice5" class="form-control form-control-lg">
                <span asp-validation-for="Choice5" class="text-danger"></span>
            </div>
        </div>
        <div class="form-row ml-auto">
            <button type="button" class="btn btn-dark btn-lg ml-auto">Annuler</button>
            <button type="submit" class="btn btn-dark btn-lg ml-1">Valider</button>
        </div>
    </form>
</div>