@model QuestionReaction.Services.Models.UserAddPollsVM
@{
    ViewData["Title"] = "Création sondages";
}

<div class="text-center">
    <h1 class="display-4_5">Création sondages</h1>
</div>

<hr />

<div class="col-6 m-auto justify-content-around">
    <form asp-action="AddPolls" method="post">
        <input type="hidden" name="currentUserId" id="currentUserId" value="@Model.CurrentUserId" />
        <div class="form-group">
            <label asp-for="Title" class="col-form-label col-form-label-lg"></label>
            <input asp-for="Title" class="form-control form-control-lg">
            <span asp-validation-for="Title" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Description" class="col-form-label col-form-label-lg"></label>
            <textarea asp-for="Description" class="form-control form-control-lg" rows="3"></textarea>
            <span asp-validation-for="Description" class="text-danger"></span>
        </div>
        <div class="form-group form-check form-row form-check-lg">
            <input asp-for="MutipleChoices" type="checkbox" class="form-check-input form-check-input-lg">
            <label asp-for="MutipleChoices" class="form-check-label col-form-label-lg"></label>
        </div>
        <div>
            <label class="col-form-label col-form-label-lg">Liste de choix</label>
                <div class="form-group">
                    <span asp-validation-for=Choices class="text-danger"></span><br />
                    @for (var i = 1; i <= 5; i++)
                    {
                        <label asp-for=Choices class="col-form-label col-form-label-lg">@("Choix "+i)</label>
                        <input asp-for=Choices class="form-control form-control-lg">
                    }
                </div>
        </div>
        <div class="form-row ml-auto">
            <a asp-action=Polls class="btn btn-dark btn-lg ml-auto">Annuler</a>
            <button type="submit" class="btn btn-dark btn-lg ml-1">Valider</button>
        </div>
    </form>
</div>
