@model QuestionReaction.Web.Models.UserPollsVM
@{
    ViewData["Title"] = "Sondages";
}

<div class="text-center">
    <h1 class="display-4_5">Sondages</h1>
</div>

<hr />

<div class="container">
    <div class="row justify-content-around align-content-center">
        <div class="col-6 p-2">
            <h2 class="display-5.5">Vos sondages</h2>
            <div class="overflow_ext border">
                <div class="overflow_int">
                    <table class="table table-sm table-borderless">
                        <tbody class="col-12">
                            @foreach (var question in Model.CreatedPolls)
                            {
                                <tr class="d-flex">
                                    <td class="flex-grow-1">
                                        <label>@question.Title</label>
                                        <hr class="no-margin flex-fill"/>
                                    </td>
                                    <td class="d-flex">
                                        <form asp-action="Vote" method="get" class="mr-1">
                                            <input id="voteUid" name="voteUid" value=@question.VoteUid type="hidden" />
                                            @{var d = "";
                                                if(!question.IsActive) { d = "disabled"; }}
                                            <button type="submit" class="btn btn-dark" @d>Voter</button>
                                        </form>
                                        <form asp-action="Result" method="get" class="mx-1">
                                            <input id="resultUid" name="resultUid" value=@question.ResultUid type="hidden" />
                                            <button type="submit" class="btn btn-dark" >Résultats</button>
                                        </form>
                                        <form asp-action="PollsLinks" method="get" class="mx-1">
                                            <input id="pollId" name="pollId" value=@question.Id type="hidden" />
                                            <button type="submit" class="btn btn-dark" >Gérer</button>
                                        </form>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-6 p-2">
            <h2 class="display-5.5">Vos réactions</h2>
            <div class="overflow_ext border">
                <div class="overflow_int">
                    <table class="table table-sm table-borderless">
                        <tbody>
                            @foreach (var question in Model.JoinedPolls)
                            {
                                <tr class="d-flex">
                                    <td class="flex-grow-1">
                                        <label>@question.Title</label>
                                        <hr class="no-margin flex-fill" />
                                    </td>
                                    <td class="d-flex">
                                        <form asp-action="Vote" method="get" class="mr-1">
                                            <input id="voteUid" name="voteUid" value=@question.VoteUid type="hidden" />
                                            @{var d = "";
                                                if(!question.IsActive) { d = "disabled"; }}
                                            <button type="submit" class="btn btn-dark" @d>Voter</button>
                                        </form>
                                        <form asp-action="Result" method="get" class="mx-1">
                                            <input id="resultUid" name="resultUid" value=@question.ResultUid type="hidden" />
                                            <button type="submit" class="btn btn-dark" >Résultats</button>
                                        </form>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="row justify-content-around align-content-center">
        <div class="col-6 p-2">
            <div class="d-flex flex-column">
                <div class="mx-auto"><p>Vous pouvez créer vos propres sondages ici !</p></div>
                <div class="ml-auto"><a class="btn btn-dark" asp-controller="User" asp-action="AddPolls">Nouveau sondage</a></div>
            </div>
        </div>
        <div class="col-6 p-2">
            <div class="d-flex flex-column">
                <div class="mx-auto"><p>Indiquez le code du sondage à auquel vous voulez réagir</p></div>
                <form asp-action="Polls" method="post" class="form-inline">
                    <input class="form-control flex-grow-1" placeholder="Code du sondage" name="VoteUid">
                    <button type="submit" class="btn btn-dark ml-2">Nouvelle réaction</button>
                </form>
            </div>
        </div>
    </div>
</div>
