/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px; /* Vertically center the text there */
}


/* overflow */
.overflow_ext {
    overflow: hidden;
    max-height: 500px;
    height: 500px;
}

.overflow_int {
    overflow-y: auto;
    max-height: 500px;
    height: 500px;
}


/* other "display" than bootstrap base display */
.display-4_5 {
    font-size: 3rem;
    font-weight: 400;
    line-height: 1.2;
}

.display-5 {
    font-size: 2.5rem;
    font-weight: 400;
    line-height: 1.2;
}

.display-5_5 {
    font-size: 2rem;
    font-weight: 300;
    line-height: 1.2;
}

.display-6 {
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 1.2;
}

.display-6_5 {
    font-size: 1rem;
    font-weight: 300;
    line-height: 1.2;
}

.display-7 {
    font-size: 0.5rem;
    font-weight: 300;
    line-height: 1.2;
}


/* image sizing */
.img-icon-size {
    width: 34px;
    height: 34px;
}

.no-margin {
    margin: 0px;
}

/* large checkbox */
.form-check-lg {
    display: flex;
    align-items: center;
}

.form-check .form-check-input-lg[type=checkbox] {
    height: 17px;
    width: 17px;
}

/* background colors */

.bg-question {
    background-color: #FF7B34;
}

.bg-question-light {
    background-color: #FFDECC;
}

.bg-reaction {
    background-color: #34A0FF;
}

.bg-reaction-light {
    background-color: #CCE7FF;
}

